* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  margin: 0;
  font-family: Arial;
  color: #023047;
}

header {
  background-image: linear-gradient(to right, transparent 0%, #fb8500 100%),
    url("../image/bg-topo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0.01em 0.2em #023047;
  display: flex;
  align-items: center;
  height: 10vh;
  color: white;
  font-size: 2vw;
  font-family: fantasy;
  max-height: 10vh;
  padding: 0px 1.8vw;
}

i {
  color: #fb8500;
}

.invisivel {
  display: none;
}

.navbar-desktop {
  display: flex;
  justify-content: flex-end;
  margin: 1vw 2vw;
}

#navbar-mobile {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  color: #023047;
  font-size: 16pt;
  margin-top: 10px;
}

button {
  float: right;
  background: white;
  font-size: 20pt;
  border: 1px solid #ccc;
}

#link {
  background: #fb8500;
  border-bottom: 0.7vw solid black;
  padding: 1.4vw;
  font-weight: bold;
}

a {
  font-size: 1.7vw;
  text-decoration: none;
  margin: 0 1.4vw;
  color: #023047;
}

a:hover {
  color: #fb8500;
}

footer {
  background: white;
  border-top: 0.1vw solid #023047;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisivel-mobile {
  display: none;
}

@media all and (max-width: 500px) {
  a {
    margin: 10px 0;
  }

  .navbar-desktop {
    display: none;
  }

  .invisivel {
    display: block;
  }

  footer {
    text-align: center;
  }
}
