section {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.container-info {
  width: 40%;
  background: #f96f14f1;
  transform: skewX(10deg);
  padding: 40px;
  height: 70%;
}

.info {
  transform: skew(-10deg);
}

h1 {
  padding: 0 10px;
}

p {
  font-size: 16pt;
  text-align: justify;
  line-height: 2;
  padding: 10px;
}

.container-image {
  width: 45%;
  transform: skewX(10deg);
  margin-top: 3%;
}

img {
  width: 100%;
  height: 111%;
}

.container-sobre {
  margin-top: 5%;
  background: #f96f14;
  width: 100%;
  padding: 16px 64px;
}

.container-fabrica {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.image > img {
  height: 150px;
  border: 1px solid #023047;
}

.image:hover {
  transform: scale(1.04, 1.04);
}

@media all and (max-width: 500px) {
  .container-fabrica {
    flex-direction: column;
  }
  .container-image {
    display: none;
  }
  .container-info {
    width: 100%;
    padding: 10px;
    height: auto;
    transform: skewX(-10deg);
  }
  .container-sobre {
    margin-top: 5%;
    background: #000000;
    color: white;
    width: 100%;
    padding: 10px;
  }
}
